<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/index.css}">
    <title>Password Generator</title>
</head>

<body>
    <div class="wrapper">
        <div class="password">
            <span id="cont" class="password-text">[[${password}]]</span>
        </div>
        <form id="form" th:action="@{/}" method="post">
            <div class="length">
                <label for="length">Length</label>
                <span class="minus">-</span>
                <input type="number" name="length" id="length" value="8" min="8" max="20" required>
                <span class="plus">+</span>
            </div>

            <label id="symb" for="symbols">Symbols</label>
            <input type="checkbox" name="symbols" id="symbols"> <br>

            <input type="submit" value="Generate Password">
        </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
</body>

</html>